@model Entities.WelcomeMessage.WelcomeMessage
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

@{
    var languageCode = LanguageHelper.GetLanguagePreference(httpContextAccessor);
}

@section Styles {
    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true">
}

<div class="container MOTDcontainer mt-5 shadow">
    <div class="row img align-items-center">
        <h1>Message of the Day</h1>
    </div>
    <div class="row mt-5 align-items-center message pb-3">
        <div class="col-sm-12 col-md-5 mb-4 text-center">
            <img class="img messageImg" src="@Model.ImageBase64">
        </div>
        <div class="col-sm-12 col-md-7 text-sm-center text-sm-center text-md-left">
            <p>@Model.Message(languageCode)</p>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}